.Template{
  width : 720px;
  margin : 0 auto;
}

.Header{
  height : 84px;
  display: flex;
  background-color: aqua;
}

.Header div{
  height : 37px;
  line-height: 1;
  text-align: center;
}

.Header button{
  height : 50px;
  margin-top: 17px;
  margin-right: 40px;
}