.waitinginfo {
  position: relative;
  background-image: url('/images/hong1.png');
  background-position: center;
  background-size: cover;
  max-width: 720px;
  background-repeat: no-repeat;
  min-height: 750px;
  max-height: 4792px;
  margin: 0 auto;
  padding: 0 auto;
}

.abc {
  position: absolute;
  top: 0;
  left: 0;
}
