.waitinginfo {
  position: relative;
  // background-image: url('/images/hong_2.png');
  background-position: center;
  background-size: cover;
  max-width: 720px;
  background-repeat: no-repeat;
  min-height: 750px;
  max-height: 4792px;
  margin: 0 auto;
  padding: 0 auto;
}

.abc {
  position: absolute;
  top: 0;
  left: 0;
}

.blankspace {
  margin-top: 50px;
  margin-left: 30px;
  font-family: 'Noto Sans KR, sans-serif';
  font-size: 22px;
  text-align: left;
}

.subtitle {
  color: #525252;
  font-family: 'Noto Sans KR, sans-serif';
  font-size: 12px;
  text-align: left;
  margin-left: 30px;
}

.bold {
  color: #525252;
  font-family: 'Noto Sans KR, sans-serif';
  font-weight: bold;
  font-size: 12px;
}

.SignIn {
  margin-top: 50px;
}
