.intriduction-form {
  display: inline-block;
  width: 100vw;
  height: 85vh;
  margin: {
    left: auto;
    right: auto;
  }
  overflow: hidden;

  .comment {
    display: inline-block;
    margin: {
      left: auto;
      right: auto;
    }
  }

  .iframe-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 770px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
