.meeting-form {
  display: block;
  width: 100vw;
  max-width: 720px;
  height: 100vh;
  margin: {
    left: auto;
    right: auto;
  }
  overflow: auto;

  .comment {
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 720px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .iframe-wrapper-meeting {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 770px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      width: 100%;
      height: 101%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
