@mixin SignIn {
  font-size: 1rem;
  max-width: 770px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: 20px;
    left: 30px;
    bottom: 20px;
    right: 30px;
  }
}

.SignIn {
  .title {
    @include SignIn;
    background-color: #f6f6f6;
    color: #333333;
    text-align: center;
    font: {
      size: 2rem;
      weight: bold;
    }
  }

  .input {
    @include SignIn;
  }

  .button {
    position: relative;
    margin: {
      bottom: 20px;
    }
  }

  .signUpLink {
    text-align: center;
    font-size: 13px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}
