.Template{
  width : 720px;
  margin : 0 auto;
}

.header{
  display : flex;
}

.pagename{
  background-color: #f6f6f6;
  padding-top : 40px;
  padding-bottom : 20px;
}

.pagename1{
  font-size: 24px;
  font-weight: 900;
}

.pagename2{

}

.mat-column-id {
  flex: 0 0 100px;
}

.a{
  background: black;
}

.MTableHeader-header-145{
  width: 150px;
}