.image {
  position: relative;
  // background-image: url('/images/offlin.jpg');
  background-position-x: center;
  background-size: contain;
  max-width: 720px;
  background-repeat: no-repeat;
  min-height: 2800px;
  max-height: 4792px;
  margin: 0 auto;
  padding: 0 auto;
}
.formWrapper{
  margin: 5px 50px;
}

.button {
  margin: 5px auto;
}

.buttonWrapper{
  margin: 6px auto;
}

.form{
  margin-left: 50px;
}

