.image {
  background-image: url('./offlin_main.jpg');
  background-size: contain;
  max-width: 720px;
  background-repeat: no-repeat;
  min-height: 2800px;
  max-height: 4792px;
  margin: 0 auto;
  padding: 0 auto;
}
