.image {
  position: relative;
  // background-image: url('/images/offlin.jpg');
  background-position-x: center;
  background-size: contain;
  max-width: 720px;
  background-repeat: no-repeat;
  min-height: 2800px;
  max-height: 4792px;
  margin: 0 auto;
  padding: 0 auto;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
}
