@mixin Auth {
  font-size: 1rem;
  max-width: 768px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: 20px;
    left: 30px;
    bottom: 20px;
    right: 30px;
  }
}

.notice {
  @include Auth;
  max-width: 965px;
  text-align: center;
  padding: {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
  }
}

.button {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}
