@mixin SignUp {
  font-size: 1rem;
  max-width: 770px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: 20px;
    left: 30px;
    bottom: 20px;
    right: 30px;
  }
}

.title {
  @include SignUp;
  background-color: #f6f6f6;
  color: #333333;
  text-align: center;
  font: {
    size: 2rem;
    weight: bold;
  }
}

.input {
  @include SignUp;
}

.notice {
  @include SignUp;
  max-width: 965px;
  text-align: center;
  padding: {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
  }
}

.service-agreement {
  text-align: center;
  font-size: 13px;
  margin: {
    left: auto;
    right: auto;
  }
}

.button {
  margin: {
    bottom: 20px;
  }
}
